<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>Spain.js - A Summer JavaScript Conference in Spain</title>
	<meta name="description" content="A Summer JavaScript Conference in Madrid, Spain" />
	<meta name="author" content="Spanish Association for Promoting Web Development"/>
	<meta name="ROBOTS" content="ALL" />
	
	<meta name="geo.country" content="ES" /> 
	<meta name="dc.language" content="en" /> 
	<meta name="geo.placename" content="Madrid" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link href="http://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet" type="text/css"/>
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" type="image/png" href="img/icons/favicon.png">
	
	<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body><!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">Spain js</h1>
			<div class="subtitles">
				<h2>A summer javascript conference in Spain</h2>
				<h3>July 5-7, 2012 - Florida Park (Parque del Retiro) Madrid</h3>
			</div>
		</header>
	</div><!-- #header-container -->
	
	<div id="nav-container">
		<nav class="wrapper clearfix">
			<ul>
				
				<li {{page.index}}><a href="index.html">Home</a></li>
				<li {{page.register}}><a href="pre-register.html">Pre-register</a></li>
				<li {{page.schedule}}><a href="schedule.html">Schedule</a></li>
				<li {{page.speakers}}><a href="speakers.html">Speakers</a></li>
				<li {{page.venue}}><a href="venue.html">Venue</a></li>
				
				<li {{page.sponsors}}><a href="#sponsors">Sponsors</a></li>
			</ul>
		</nav>
	</div><!-- #nav-container -->
	
	<div id="main-container">
		<div id="main" class="wrapper clearfix {{ page.aside }} ">
			{{ content }}
			{% if page.aside == "with-aside" %}
				<aside>
				  {% unless page.register %}
					  <article id="aside-register" >
					    <header>
					      <h1 class="main-title tickets">Pre-Register</h1>
					    </header>
					    <section>
						    <h2 class="subtitle">Have priority to buy a ticket</h2>
						    <p>Subscribe to our mailing list if you want to know about our news and have priority to buy a ticket </p>
						  </section>
						  <section class="button-container">
						    <a href="http://eepurl.com/jZDlX" class="button" target="_blank">Pre-register</a>
						  </section>
					  </article>
					{% endunless %}
				  <article id="recent-tweets" >
					<header>
						<h1 class="aside-title tweets">Recent tweets</h1>
					</header>
					<section class="tweet">
						
					</section>
					<section class="links">
						<p>Follow us: <a href="http://twitter.com/spainjs" target="_blank">@spainjs</a></p>
						<p>Official hashtag: <a href="http://twitter.com/#!/search/#spainjs" target="_blank">#spainjs</a></p>
					</section>
					</article>
					<article id="share" >
						<header>
							<h1 class="aside-title tweets">Share</h1>
						</header>
						<section id="share-container">
						<ul>
							<li class="shareBtn"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</li>
							<li class="shareBtn">
								<iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&href=http://www.spainjs.org&amp;send=false&amp;layout=button_count&amp;width=110&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
							</li>
							<li class="shareBtn"><g:plusone size="medium"></g:plusone>
								<script type="text/javascript">
								window.___gcfg = {lang: 'en'};
								(function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								})();
								</script>
							</li>
						</ul>
						</section>
					</article>
				</aside>
			{% endif %}
			{% unless page.sponsors %}
			<article class="sponsors-footer" id="sponsors" >
					<section class="sponsors">
			          <header>
			            <h1>Platinum Sponsors</h1>
			          </header>


			          <ul>
			            <li><span><a href="http://www.softonic.com" title="Softonic" rel="partner"><img src="./img/partners/softonic.jpg" alt="Softonic"></a></span></li>
			            <li><span><a href="http://www.ticketea.com" title="Ticketea" rel="partner"><img src="./img/partners/ticketea.jpg" alt="Ticketea"></a></span></li>
			         </ul>
			        </section>
			        <section class="sponsors">
			         <header>
			            <h1>Saturday Night Party Sponsors</h1>
			          </header>
			         <ul>
			            <li><span> <a href="http://www.atlassian.com" title="Atlassian" rel="partner"><img src="./img/partners/atlassian.jpg" alt="Atlassian"></a></span></li>
			          </ul>
			        </section>
			        <section class="gold">
			          <header>
			            <h1>Gold Sponsors</h1>
			          </header>

			          <ul>
			            <li><span><a href="http://www.aspgems.com" title="Aspgems.com" rel="partner"><img src="./img/partners/aspgems.gif" alt="AspGems"></a></span></li>
			            <li><span><a href="https://bluevia.com/" title="https://bluevia.com/" rel="partner"><img src="./img/partners/logoBlueVia.jpg" alt="BlueVia"></a></span></li>
			          </ul>
			        </section>
			        <section class="silver">
			          <header>
			            <h1>Silver Sponsors</h1>
			          </header>
			          <ul>
			            <li><span><a href="http://www.deiser.com" title="Deiser.com" rel="partner"><img src="./img/partners/deiser.jpg" alt="Deiser"></a></span></li>
			          </ul>
			        </section>
			        <section class="media">
			          <header>
			            <h1>Collaborator</h1>
			          </header>

			          <ul>
			            <li><span> <a href="http://peepcode.com/" title="PeepCode" rel="partner"><img src="./img/partners/peepcode.jpg" alt="Peepcode"></a></span></li>
			          </ul>
			        </section>
			        <section class="media">
			          <header>
			            <h1>Media Partners</h1>
			          </header>
			          <ul>
			            <li><span><a href="http://betabeers.com" title="Betabeers | Reunión mensual de desarrolladores web y apps" rel="partner"><img src="./img/partners/betabeers.jpg" alt="Betabeers"></a></span></li>
			          <li><span><a href="http://www.becodemyfriend.com/" title="BeCodeMyFriend| Aceleradora Punk de proyectos de Software" rel="partner"><img src="./img/partners/becode.gif" alt="Becode My Friend" class="partner"></a></span></li>
			          <li><span><a href="http://www.wiseri.com/" title="Wiseri.com| Web de empleo" rel="partner"><img src="./img/partners/wiseri.jpg" alt="Wiseri" class="partner"></a></span></li>
			          <li><span><a href="http://www.programandonet.com/" title="ProgramandoNet| .net User Group" rel="partner"><img src="./img/partners/programandonet.gif" alt="Programandonet"  width="250"></a></span></li>
			          <li><span><a href="http://madridjs.org/" title="MadridJs| JavaScript User Group" rel="partner"><img src="./img/partners/madridjs.jpg" alt="MadridJS" class="partner"></a></span></li>
			          <li><span><a href="http://javascriptweekly.com/" title="A free, once–weekly e-mail round-up of JavaScript news and articles." rel="partner"><img src="./img/partners/jsweekly.gif" alt="JavaScript Weekly" class="partner"></a></span></li>
			          <li><span><a href="http://evergreenpm.com/" title="Evergreen, Project Management Services" rel="partner"><img src="./img/partners/evergreen.gif" alt="Project Management Services" width="250"></a></span></li>
			          </ul>
			        </section>
			        <section class="sponsorship">
		        		<p>Would you like your company to appear <strong>RIGHT HERE?</strong> <span class="mail"><a href="mailto:hello@spainjs.org">Send us an email</a></span> for more information on our exclusive <a href="./assets/2012.SponsorshipPamphlet.v1.1.pdf">sponsorship bundles (PDF).</a></p>
		      		</section>
			</article>
			{% endunless %}
			
		</div>

	</div><!-- #main-container -->
	<div id="footer-container">
		<footer >
			<section id="about">
					<h3>About</h3>
					<p>Spain.js is a non-profit volunteer-driven event run by the Spanish Association for Promoting Web Development (APRODEWEB) managed by <a href="http://twitter.com/samlown" target="_blank">Sam Lown</a>, <a href="http://twitter.com/rafaelrebolleda" target="_blank">Rafael Rebolleda</a>, <a href="http://twitter.com/lpsandroni" target="_blank">Lorena P. Sandroni</a>, <a href="http://twitter.com/ialcazar" target="_blank">Israel Alcázar</a>, <a href="http://twitter.com/eamodeorubio" target="_blank">Enrique Amodeo</a>, <a href="http://twitter.com/oinak" target="_blank">Fernando Martinez</a> and <a href="http://twitter.com/arctarus" target="_blank">Gabriel Ortuño</a>. </p>
					<p>Website designed by <a href="//twitter.com/javierbrea" target="_blank">Javier Brea</a>. Developed by <a href="//twitter.com/javierbrea"  target="_blank">Javier Brea</a>.</p>
			</section>
			<section id="share">
				<h3>Find Us</h3>
				<ul>
					<li class="twitter"><a href="http://twitter.com/spainjs" target="_blank">Twitter</a></li>
					<li class="email"><a href="mailto:hello@spainjs.org">Email</a></li>
				</ul>
			</section>
		</footer>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/libs/jquery.tweet.js"></script>
<script src="js/script.js"></script>

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
